/* universal reset to prevent whitespace at top of the page */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

#about-container {
  display: grid;
  grid-template: 1fr auto / 4fr 3fr 3fr;
  grid-gap: .75em;
  margin: 0 40px 70px 40px;
  color: rgba(65,70,75);
  height: 100%;
  width: 100%;
}

/* LEFT-SIDE ABOUT ME TOP */
#about-heading {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about-heading h3 {
  font-size: 2.5em;
  margin-bottom: .5em;
}

.content-underline {
  background-color: rgb(65,70,75);
  margin: 0 auto 2em auto;
  width: 20%;
}

#about-heading ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#about-heading ul li {
  list-style: none;
  font-size: 1.5em;
  margin: 0 .5em -1em 0;
}

/* LEFT-SIDE ABOUT ME BOTTOM */
#about-text {
  text-align: justify;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin-top: 0;
  line-height: 1.75em;
}

#about-text a {
  color: rgba(24,114,139);
  text-decoration: none;
}

/* MIDDLE IMAGE */
#center-image {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

#center-image img {
  height: 100%;
  width: 100%;
  /* display: block; */
  /* border-left: 90px solid rgba(137, 187, 199,.45); */
}

/* RIGHT-SIDE TOP IMAGE */
#top-right-image {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  height: 170%;
  background: url("../images/pyramids.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* RIGHT-SIDE BOTTOM IMAGE */
#bottom-right-image {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  margin-top: 6em;
  height: 80%;
  background: url("../images/temple.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
