nav {
  background-color: transparent;
}

#home-background-img {
  background: linear-gradient( rgba(20, 20, 20, .5), rgba(20, 20, 20, .1)), url("../images/great-wall.JPG");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 20px;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7em;
}

h1 {
  font-size: 5em;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  color: rgb(244,244,244);
  letter-spacing: .25em;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.8),
  0px 8px 13px rgba(0,0,0,0.4),
  0px 18px 23px rgba(0,0,0,0.4);
}

.content-underline {
    background-color: rgb(244,244,244);
    margin: 1em auto 0 auto;
}

h3 {
  font-size: 3em;
  color: rgb(244,244,244);
  text-shadow: 0px 4px 3px rgba(0,0,0,0.8);
  letter-spacing: .05em;
  margin-top: .5em;
}

.button {
    text-decoration: none;
    border: 2px solid rgb(244,244,244);
    padding: 12px 26px;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .15em;
    color: rgb(244,244,244);
    cursor: pointer;
}

.button:hover {
  background-color: rgba(24,114,139,0.5);
  font-size: 2.25em;
}

#button-text {
  text-shadow: 0px 4px 3px rgba(0,0,0,0.8);
}
