/* COLOR SCHEME
Steel Gray: rgb(65,70,75), Headings
White Smoke: rgb(244,244,244), text on dark backgrounds, light background
Blue Bayoux: rgb(100, 112, 123), paragraphs
Allports: rgb(24, 114, 139), Buttons, Icons, Links, Lines, Backgrounds
*/

/* GENERAL PAGE STYLES */
body, html {
  overflow: hidden;
  font-family: "Yanone Kaffeesatz", sans-serif;
  background-color: rgba(137, 187, 199,.45);
  margin: 0;
  height: 100%;
}

p {
  font-size: 1.5em;
  letter-spacing: .05em;
}

.content-underline {
    width: 15%;
    height: 3px;
}

/* NAVBAR */
nav ul li a {
  text-decoration: none;
  color: rgb(244,244,244);
}

.nav-items:hover {
  color: rgba(24,114,139);
  font-style: italic;
  font-size: 1.1em;
}

#home-button {
  margin-left: auto;
}

.navbar-container {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  justify-content: flex-end;
}

.navbar-container>li {
  font-size: 1.8em;
  list-style: none;
  padding-right: 3em;
}

nav ul li:first-child {
  margin-right: auto;
  font-size: 3em;
  padding-right: 55%;
}

#nav-brand {
  border: solid 2px rgb(244,244,244);
  padding: 5% 20%;
  border-radius: 5px 20px 5px;
}

#nav-brand:hover {
  background-color: rgba(24,114,139,0.5);
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(65,70,75, .9);
  color: rgba(244,244,244);
  font-size: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3.5em;   /* Height of the footer */
}

footer ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  float: right;
  margin: 0 .5em;
}

footer p {
  margin-right: auto;
  padding-right: 55%;
  margin-left: 1em;
  flex-wrap: nowrap;

}

footer ul li a {
  color: rgba(244,244,244);
  font-size: 1.25em;
  padding: 1em;
}

footer ul li a:hover {
  color: rgba(24,114,139);
}
