/* universal reset to prevent whitespace at top of the page */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* General stylings */
#portfolio-container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  margin: 0 2em;
  padding: 0 2em 2em 2em;
  color: rgb(65,70,75);
}

#portfolio-heading {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  color: rgb(65,70,75);
  font-size: 2em;
  margin: 0 auto;
  padding-bottom: 2em;
}

.content-underline {
  background-color: rgb(65,70,75);
  margin: 0 auto;
}

/* project content on the left */

.project-left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-left-content p {
  text-align: justify;
  justify-content: flex-start;
  margin-top: 0;
}

.project-icons {
  display: flex;
  flex-direction: row;
  font-size: 2em;
  justify-content: center;
}

.project-icons i {
  padding: .5em;
}

.icon-title {
  margin-top: .4em;
  font-weight: lighter;
}

.project-icons a {
  text-decoration: none;
  color: rgb(65,70,75);
  cursor: pointer;
}

/* Project content on the right */

.project-right-content img {
  width: 70%;
  height: 75%;
  float: left;
  margin-left: 6em;
  margin-top: 2em;
}

/* projects */
#project1 {
  grid-row: 2 / 3;
}

#project2 {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  margin-top: 2em;
}

#project3 {
  grid-row: 4 / 5;
  grid-column: 1 / 2;
}

/* project images */
#project1-image {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

#project2-image {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

#project3-image {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
}
